.display-note{
    width: 700px;
    height: 200px;
    /* border-radius: 8px;
    border:1px solid #dadce0;
    box-shadow: 0 10px 25px rgba(92,99,105,.2); */
    margin-left: 240px;
    margin-top: 20px;
    /* position: relative; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    /* padding: 10px; */
    /* background-color: white; */
}

.closeBtn{ 
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 40px;
    /* border: none; */
    /* width:130px; */
    color: black;
  }
.close-btn{
    color: black;
    border:none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-right: -70px;
    width:90px;
    height:30px;
    background-color: white;
}
.title{
    /* width: 800px;
    height: 140px; */
   /* border-radius: 8px;
    border:1px solid #dadce0;
    box-shadow: 0 10px 25px rgba(92,99,105,.2); */
    margin-left: 500px;
    /* margin-top: 80px; */
    /* position: relative; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    /* padding: 10px; */
    /* background-color: white; */
}
.pin{
    /* width: 600px; */
    height: auto;
    /* border-radius: 8px; */
    /* border:1px solid #dadce0; */
    /* box-shadow: 0 10px 10px rgba(92,99,105,.2); */
    /* margin-left: 0px; */
    margin-top: -10px;
    display: flex;  
    justify-content: space-between;
    align-items: center;

    /* opacity: 0.7; */
}
.pin-icon{
    display: flex;
    flex-direction: row;
    justify-self: flex-end ;
    margin-left: 10px;
}
.icons-below{
    display: flex;
    flex-direction: row;
    justify-content:flex-start; 
    /* align-items:; */
    padding-top: 0px;
    padding-right: 20px;
    align-items: stretch;
    margin-left: 0px;
    margin-top:-10px;
    
}

.closeBtn{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
  
    margin-top:-30px;
    margin-left: 20px;
    color: black;
  }
.close-btn{
    color: black;
    border:none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
     /* padding-right: 40px; */
    /* border: none; */
    width:100px;
    height:30px;
    background-color: white;
}
.note{
    width: 600px;
    height: 140px;
    border-radius: 8px;
    border:1px solid #dadce0;
    /* box-shadow: 0 10px 25px rgba(92,99,105,.2); */
    margin-left: 20px;
    margin-top: 15px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* align-items: flex-start; */
    padding: 25px;
    background-color: white;
}

.note:hover{
    width: 600px;
    height: 140px;
    border-radius: 8px;
    border:1px solid #dadce0;
    box-shadow: 0 10px 25px rgba(92,99,105,.2);
    margin-left: 20px;
    /* margin-top: 100px; */
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* align-items: flex-start; */
    /* padding: 10px; */
    background-color: white;
}