.display-note{
    width: 700px;
    height: auto;
    margin-left: 20px;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

}
.notess{
    margin-top: 1vh;
    margin-left: 8%;
    height: auto;
    display: flex;
    max-width: 100%;
    flex-direction: row;
    justify-content: space-around;    
    /* justify-content: flex-start; */
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 3%;
}
.grid-note{
/*   
    width: 240px;
  max-width: 240px;
  height: fit-content;
  border-radius: 8px;
  border:1px solid #dadce0;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  padding-left: 16px;
  box-sizing: border-box; */

}
.closeBtn{ 
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 40px;
    /* border: none; */
    /* width:130px; */
    color: black;
  }
.close-btn{
    color: black;
    border:none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-right: -70px;
    width:90px;
    height:30px;
    background-color: white;
}
.title{
    /* width: 800px;
    height: 140px; */
   /* border-radius: 8px;
    border:1px solid #dadce0;
    box-shadow: 0 10px 25px rgba(92,99,105,.2); */
    margin-left: 500px;
    /* margin-top: 80px; */
    /* position: relative; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    /* padding: 10px; */
    /* background-color: white; */
}
.pin{
    /* width: 600px; */
    height: auto;
    /* border-radius: 8px; */
    /* border:1px solid #dadce0; */
    /* box-shadow: 0 10px 10px rgba(92,99,105,.2); */
    /* margin-left: 0px; */
    margin-top: -10px;
    display: flex;  
    justify-content: space-between;
    align-items: center;

    /* opacity: 0.7; */
}
.pin-icon{
    display: flex;
    flex-direction: row;
    justify-self: flex-end ;
    margin-left: 10px;
}
.icons-below{
    display: flex;
    flex-direction: row;
    justify-content:flex-start; 
    /* align-items:; */
     padding-top: 0px;
    padding-right: 20px;
    align-items: stretch;
    margin-left: 0px;
    margin-top:-10px;  
    opacity:0;
}

.iconsGrid-below{
    display: flex;
    flex-direction: row;
    justify-content:flex-start; 
    /* align-items:; */
     padding-top: 0px;
    /* padding-right: 20px; */
    align-items: stretch;
    margin-left: 0px;
    margin-top:-10px;  
    opacity:0;
}

.icons-below:hover{
    display: flex;
    flex-direction: row;
    justify-content:flex-start; 
   
    opacity:1;
}
.iconsGrid-below:hover{
    display: flex;
    flex-direction: row;
    justify-content:flex-start; 
   
    opacity:1;
}
.card{
    width: 600px;
    height: 160px; 
    border-radius: 8px;
    border:1px solid #dadce0;
    /* box-shadow: 0 10px 25px rgba(92,99,105,.2); */
    margin-left: 20px; 
    margin-top: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* align-items: flex-start; */
    padding: 25px;
    background-color: white;
}


.grid-card{
  width: 240px;
  max-width: 240px;
  height: fit-content;
  border-radius: 8px;
  border:1px solid #dadce0;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  padding-left: 16px;
  box-sizing: border-box;
}


.grid-card.iconsGrid-below{
  width: 240px;
  max-width: 240px;
  height: fit-content;
  border-radius: 8px;
  border:1px solid #dadce0;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  padding-left: 16px;
  box-sizing: border-box;
}

.card.icons-below{
 
    width: 600px;
    height: 160px;
    border-radius: 8px;
    border:1px solid #dadce0;
    box-shadow: 0 10px 25px rgba(92,99,105,.2);
    margin-left: 20px;
    /* margin-top: 100px; */
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* align-items: flex-start; */
    /* padding: 10px; */
    background-color: white;
}
.closeBtn{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
  
    margin-top:-30px;
    margin-left: 20px;
    color: black;
  }
.close-btn{
    color: black;
    border:none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
     /* padding-right: 40px; */
    /* border: none; */
    width:100px;
    height:30px;
    background-color: white;
}
.note{
    width: 600px;
    height: 140px;
    border-radius: 8px;
    border:1px solid #dadce0;
    /* box-shadow: 0 10px 25px rgba(92,99,105,.2); */
    margin-left: 20px;
    margin-top: 15px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* align-items: flex-start; */
    padding: 25px;
    background-color: white;

}

.note:hover{
    width: 600px;
    height: 140px;
    border-radius: 8px;
    border:1px solid #dadce0;
    box-shadow: 0 10px 25px rgba(92,99,105,.2);
    margin-left: 20px;
    /* margin-top: 100px; */
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* align-items: flex-start; */
    /* padding: 10px; */
    background-color: white;


}

@media(max-width:600px ){
    .display-note{
        width: 100%;
        padding: 10px;    
        margin-left: 100px;
        margin-top: 1150px;
        justify-content: center;
        align-items: center;
    }

    
.card{
    width: 100%;
    padding: 50px;
    margin-left: -75px;
    /* margin-top: 0px; */
    justify-content: center;
    /* align-items: center; */
   
}
}