/* .iconsBelow{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    width: 55%;
    margin-top: 10px;
    
} */

.trash-icon{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    /* width: 55%; */
    margin-top: 15px;
}