.icons-below{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    /* align-items:; */
    padding-top: 0px;
    padding-right: 20px;
    align-items: stretch;
    margin-left: 0px;
    margin-top:10px;
    
}

.card{
    width: 600px;
    height: 160px; 
    border-radius: 8px;
    border:1px solid #dadce0;
    /* box-shadow: 0 10px 25px rgba(92,99,105,.2); */
    margin-left: 20px;
    margin-top: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* align-items: flex-start; */
    padding: 25px;
    background-color: white;
}

.card:hover{
 
    width: 600px;
    height: 160px;
    border-radius: 8px;
    border:1px solid #dadce0;
    box-shadow: 0 10px 25px rgba(92,99,105,.2);
    margin-left: 20px;
    /* margin-top: 100px; */
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* align-items: flex-start; */
    /* padding: 10px; */
    background-color: white;
}